.image-div{
  
    margin-left: 90px;
    width: 100%;
    padding: 10px;
    height: 450px;

}
.carousel-div{
    margin-left: 90px;
    width: 100%;
    height: auto;
    margin-top: 300px;   
    margin-bottom: 70px;
}
